[submodule "FEI"]
	path = FEI
	url = https://github.com/Alvar-234/FEI
[submodule "poema"]
	path = poema
	url = https://github.com/Alvar-234/poema.git
[submodule "ecommerce"]
	path = ecommerce
	url = https://github.com/Alvar-234/ecommerce
[submodule "ordinario-ftw"]
	path = ordinario-ftw
	url = https://github.com/Alvar-234/ordinario-ftw.git
